/*******************************************************************************
 *                                                                             *
 * Root                                                                        *
 *                                                                             *
 ******************************************************************************/

.root {
  -fx-base: derive(backgroundcolor, 60%); 

  /* Base color for window backgrounds */
  backgroundcolor: rgba(0, 0, 0, 1);
  -fx-textcolor: rgba(150, 150, 150, 1);

  -fx-accent: transparent;
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
}

/*******************************************************************************
 *                                                                             *
 * Icons                                                                       *
 *                                                                             *
 ******************************************************************************/

.graphIcon {
  -fx-image: url(icons/graph_icon.png);
}

.graphIcon:hover {
  -fx-image: url(icons/graph_icon_hover.png);
  -fx-cursor: hand;
}

.graphIcon:pressed {
  -fx-image: url(icons/graph_icon_pressed.png);
}

.treeIcon {
  -fx-image: url(icons/tree_icon.png);
}

.treeIcon:hover {
  -fx-image: url(icons/tree_icon_hover.png);
  -fx-cursor: hand;
}

.treeIcon:pressed {
  -fx-image: url(icons/tree_icon_pressed.png);
}

/*******************************************************************************
 *                                                                             *
 * Button                                                                      *
 *                                                                             *
 ******************************************************************************/

.button.BigButton {
  -fx-background-radius: 8;
  -fx-font: 14pt 'Verdana';
  -fx-font-weight: bold;
  -fx-text-fill: derive(backgroundcolor, 80%);
  -fx-background-color: derive(backgroundcolor, 45%);
}

.button:hover {
  -fx-background-color: derive(backgroundcolor, 35%);
}

.button:pressed {
  -fx-background-color: derive(backgroundcolor, 30%);
}

.button:disabled {
  -fx-background-color: derive(backgroundcolor, 65%);
}

.zoomOutButton {
  -fx-background-radius: 0 0 8 0;
  -fx-graphic: url('images/left.png');
}

/*******************************************************************************
 *                                                                             *
 * Split Pane                                                                  *
 *                                                                             *
 ******************************************************************************/

.split-pane {
  -fx-background-insets: 0;
  -fx-padding: 0;
}

.split-pane:horizontal > .split-pane-divider {
  -fx-background-color: derive(backgroundcolor, 50%);
}

/*******************************************************************************
 *                                                                             *
 * Menu Bar                                                                    *
 *                                                                             *
 ******************************************************************************/


.menu-bar {
  -fx-font: bold 9pt 'Verdana';
  -fx-background-color: derive(backgroundcolor, 20%);
  -fx-effect: dropshadow(three-pass-box, white, 3px, 0, 0, 0);
}

.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
  -fx-background-color: derive(backgroundcolor, 40%);
}

.menu-bar > .container > .menu-button:showing {
  -fx-background-color: derive(backgroundcolor, 40%);
}
.menu-bar > .container > .menu-button > .label {
  -fx-text-fill: derive(backgroundcolor, 100%);
}

/*******************************************************************************
 *                                                                             *
 * Menu Item                                                                   *
 *                                                                             *
 ******************************************************************************/

.menu-item > .label {
  -fx-font: 10pt 'Verdana';
  -fx-text-fill: derive(backgroundcolor, 20%);
}

.menu-item:focused,
.menu-item:hover,
.menu-item:focused > .label,
.menu-item:hover > .label {
  -fx-background-color: derive(backgroundcolor, 90%);
}
