/*******************************************************************************
 *                                                                             *
 * Root                                                                        *
 *                                                                             *
 ******************************************************************************/

.root {
    -fx-base: derive(backgroundcolor, 60%); 

    /* Base color for window backgrounds */
    backgroundcolor: rgba(0, 0, 0, 1);
    -fx-textcolor: rgba(150, 150, 150, 1);

    -fx-accent: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/*******************************************************************************
 *                                                                             *
 * Button                                                                      *
 *                                                                             *
 ******************************************************************************/

.button {
    -fx-background-radius: 8;
    -fx-font: 14pt 'Verdana';
    -fx-font-weight: bold;
    -fx-text-fill: derive(backgroundcolor, 80%);
    -fx-background-color: derive(backgroundcolor, 40%);
}

.button:hover {
    -fx-background-color: derive(backgroundcolor, 30%);
}

.button:pressed {
    -fx-background-color: derive(backgroundcolor, 25%);
}

.button:disabled {
    -fx-background-color: derive(backgroundcolor, 65%);
}

.zoomOutButton {
    -fx-background-radius: 0 0 8 0;
    -fx-graphic: url('left.png');
}

/*******************************************************************************
 *                                                                             *
 * Split Pane                                                                  *
 *                                                                             *
 ******************************************************************************/

.split-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: derive(backgroundcolor, 50%);
}
